<!--The content below is only a placeholder and can be replaced.-->
<div class="war-view">
  <h4>Resuoltions available: Full HD (1920), HD (1280) and Wide VGA (768) </h4>
</div>

<div class="container"> 
  
  <div class="app-title">
    <img class="users-logo" src="/assets/imgs/users.svg" />
    <h2>Users list</h2>
  </div>
  <div *ngIf="customersObservable | async as customers else empty">
  <div class="content-list" *ngFor="let customer of customers; let i = index"  >
    <img class="user-logo" src="/assets/imgs/user.svg" />
    <span class="user-name">
     {{customer.name}}
    </span>
    <span class="show-hide" (click)="hideme[i] = !hideme[i]">
      Show Info
      <span  [hidden]="hideme[i]">+</span>
      <span  [hidden]="!hideme[i]">-</span>
      
      
    </span>

    <section class="comments" [hidden]="!hideme[i]">
      <ul class="user-info">
        <li class="comment">
            {{customer.disclosableInfo}}
        </li>
      </ul>
    </section>
  </div>
  </div>
</div>

